.end-area,
.quiz-area,
.highscore-area {
	display: none;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */
header {
	display: inline-block;
	width: 100%;
	background-color: #c0c0c0;
}

.high-scores {
	font-size: 20px;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: none;
	color: black;
}

.timer {
	font-size: 20px;
	margin: 20px;
	display: block;
	float: right;
}

/*GAME AREA*/
.game-area {
	display: block;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 50px;
	text-align: center;
}

/*BEFORE QUIZ*/
.quiz-description {
	margin-left: 20%;
	margin-right: 20%;
}

/*DURING QUIZ*/
.answer-area {
	font-size: 20px;
	float: left;
}

.correct-status {
	font-size: 20px;
	float: right;
}

/*QUIZ OVER*/
